@import './Navbar.scss';
@import './Register.scss';
@import './Login.scss';
@import './Left-side.scss';
@import './Right-side.scss';
@import './variables.scss';
@import './Middle-side.scss';
@import './Auth.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
input{
    outline: none;
}
body{
    overflow: hidden;
    background-color: $lighter;
}

.submit{
    background-color: white;
    color: $dark;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 50%;
}
button{cursor: pointer;}

.form{
    height: 50px;
    @include display (flex,row,space-between,center);
    padding: 5px;
    border-radius: 5px;
    background-color: $lighter;
    margin: 10px 0 10px 0;
        
        input{
            background-color: $lighter;
            padding:8px;
            border-radius: 5px;
            border: none;
        }
        button{
            
            width: 30px;
            height: 30px;
            background-color: $lighter;
            color: $darker;
            border: none;
            border-radius: 50%;
            font-size: 20px;
            font-weight: bold;
            &:disabled{
                color: grey;
            }
        }
    
}


.modal{
    position: absolute;
    height: 80%;
    top: 10%;
    left: 50%;
    background-color: $light;
    padding: 10px;
    transform: translateX(-50%);
    border-radius: 10px;
    button{
        @include display (flex,row,flex-end,center);
        width: 100%;
        background-color: transparent;
        border: none;
        .x{
            color: $darker;
            font-size: 18px;

        }
    }
}

@media screen and (max-width:800px) {
    .modal{
        width: 50%;
        font-size: 20px;
    }
}
@media screen and (max-width:500px) {
    .modal{
        width: 90%;
        padding: 5px;
       .right-side{
        padding: 5px;
       }
    }
  }