@import './variables.scss';


.main{
    @include display(flex,row,space-between,flex-start);
    width:100%;
    
    
}

.left-side{
    width: 20%;
    border-right: 1px solid black;
    height: 721px;
    background-color: $light;
    .left-header{
        @include display(flex,row,space-between,center);
        border-bottom: 1px solid black;
        padding: 10px;
        color: $lighter;
        button{
            background-color: $dark;
            color: $lighter;
            padding: 5px;
            width: 50px;
            border: none;
            border-radius: 5px;
        }
    }
    
    .all-lobby{
        @include display(flex,column,center,center)
    }
    .lobby{
        width: 80%;
        height: 50px;
        background-color: $dark;
        margin: 10px 0 10px 0;
        padding: 10px;
        text-align: center;
        color: white;
        border-radius: 5px;
        &:hover{
            cursor: pointer;
        }
        
    }
    .admin-lobby{
        @extend .lobby;
        .hide{
            display: none;
        }
        &:hover{
            cursor: pointer;
           .hide{
            display: inline;
            
           }
        } 
        
    }
    .active{
        @extend .lobby;
        background-color: purple;
    }
}