@import './variables.scss';


.form-container{
    padding: 10px;
    h2{
        text-align:center;
        color: $lighter;
    }
    form{
        margin-top: 10px;
        @include display (flex,column,center,center);
        gap: 10px;
        .input-container{
        @include display (flex,column,center,flex-start);
        width: 80%;
        input{
            width: 100%;
            padding: 8px;
            border-radius: 5px;
            outline: none;
            border: none;
            &:focus{
                border: 2px solid $dark;
            }
        }
    }
    .error{
        p{
            color: red;
            padding-left: 3px;
        }
    }
    button{
       cursor: pointer;
       margin-top: 10px;
       padding: 8px 10px;
       background-color: $dark;
       color: $lighter;
    }
    p{
        color: white;
        text-decoration: underline;
    }
    }
}

