$dark:#04233c;
$light:#384559;
$lighter:#ced3d9;

@mixin display($flex,$flex-direction,$justify-content,$align-item) {
    display: $flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-item;
}

@mixin  scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
    ::-webkit-scrollbar {
        width:  $size;
        height: $size;
    }
  
    ::-webkit-scrollbar-thumb {
        background: $foreground-color;
        border-radius: 10px;
        
    }
  
    ::-webkit-scrollbar-track {
        background: $background-color;
        border-radius: 10px;
        
       
    }
}